* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  border: 2px solid #555;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
}
span {
  color: gray;
  font-size: larger;
}

nav {
  text-align: center;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #20263e;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  font-weight: extra-bold;
  font-size: large;
}
a:hover {
  color: #007bff;
}
.image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.images img {
  width: 200px;
  height: 200px;
  gap: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}
.images img:hover {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 10px);
}
p {
  text-align: center;
  color: #555;
  font-size: 18px;
  margin-top: 20px;
  text-indent: 10px;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center padding 20px;
  /* background-color: #20263E; */
  background-color: deeppink;
  color: #fff;
  font-size: large;
}
#color {
  color: #feba17;
}
